* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: red;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
  min-height: 700px;
  min-width: 400px;
  margin: 10vh 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.add-todo{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.added-todo{
    width: 70%;
    height: 100%;
    background-color: pink;
}
.added-confirm{
    width: 30%;
    height: 100%;
    background-color: orange;
}
.todos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.todo{
    width: 100%;
    height: 50px;
display: flex;
align-items: center;
justify-content: center;
}
.todo-content{
    width: 70%;
    height: 100%;
    background-color: blue;
}
.todo-adjust{
    width: 15%;
    height: 100%;
    background-color: rgb(156, 0, 0);
}

.todo-delete{
    width: 15%;
    height: 100%;
    background-color: rgb(185, 185, 185);
}
